*{margin:0;padding:0;box-sizing:border-box;}

body{
font-family:Arial;
color:white;
text-align:center;
background:black;
overflow-x:hidden;
cursor:none;
}

#bgVideo{
position:fixed;
width:100%;
height:100%;
object-fit:cover;
z-index:-2;
filter:brightness(0.5);
}

#particles-js{
position:fixed;
width:100%;
height:100%;
z-index:-1;
}

nav{
position:fixed;
top:0;
width:100%;
background:rgba(0,0,0,0.7);
padding:12px;
z-index:10;
}

nav a{
margin:15px;
color:gold;
text-decoration:none;
font-weight:bold;
font-size:18px;
}

#menuBtn{
display:none;
font-size:28px;
color:gold;
cursor:pointer;
}

.hero{
padding-top:150px;
height:100vh;
}

.glow{
font-size:70px;
color:gold;
text-shadow:0 0 25px gold;
animation: glow 2s infinite alternate;
}

.rotate{
animation: spin 6s linear infinite;
}

@keyframes spin{
from{transform:rotateY(0deg);}
to{transform:rotateY(360deg);}
}

@keyframes glow{
from{text-shadow:0 0 10px gold;}
to{text-shadow:0 0 30px orange;}
}

.socials a{
margin:10px;
color:cyan;
font-size:22px;
text-decoration:none;
}

section{
padding:90px 20px;
opacity:0;
transform:translateY(50px);
transition:1s;
}

section.show{
opacity:1;
transform:translateY(0);
}

.gallery img{
width:220px;
margin:12px;
border-radius:15px;
transition:0.5s;
}

.gallery img:hover{
transform:scale(1.2) rotateY(15deg);
box-shadow:0 0 20px gold;
}

.cards a,.btn{
display:inline-block;
margin:15px;
padding:15px 30px;
background:linear-gradient(45deg,gold,orange);
color:black;
border-radius:30px;
text-decoration:none;
font-weight:bold;
transition:0.3s;
}

.cards a:hover,.btn:hover{
transform:scale(1.15);
box-shadow:0 0 20px gold;
}

#mode{
position:fixed;
bottom:20px;
right:20px;
border:none;
padding:12px;
border-radius:50%;
font-size:18px;
}

#loader{
position:fixed;
width:100%;
height:100%;
background:black;
color:white;
display:flex;
align-items:center;
justify-content:center;
z-index:999;
font-size:30px;
}

.cursor{
width:20px;
height:20px;
border:2px solid gold;
border-radius:50%;
position:fixed;
pointer-events:none;
box-shadow:0 0 20px gold;
}

.floating-social{
position:fixed;
left:10px;
top:40%;
display:flex;
flex-direction:column;
}

.floating-social a{
margin:8px;
font-size:24px;
text-decoration:none;
}

@media(max-width:768px){
#menuBtn{display:block;}
#menuLinks{display:none;}
#menuLinks.show{display:block;}
}